/* Main SASS file */
/* File with reset styles */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* File with project font settings */
/* File with default style settings */
/* Colours settings */
/* Mixins */
html {
  overflow-x: hidden;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  max-width: 100vw;
  line-height: 1.6em;
  color: #000;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  color: #333333;
}

h2 {
  position: relative;
  font-size: 32px;
  font-weight: 500;
  color: #333333;
}

h3 {
  font-size: 32px;
  font-weight: 500;
  color: #333333;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}

a:hover {
  text-decoration: none;
  color: #0f7bff;
  transition: all ease 0.2s;
}

.btn_dark {
  display: inline-block;
  text-transform: capitalize;
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all ease 0.2s;
  white-space: nowrap;
  padding: 10px 45px;
  border: 2px solid transparent;
  border-radius: 25px;
  text-transform: uppercase;
  border-radius: 25px;
  background: #0063dd;
  color: #fff;
}
.btn_dark:hover {
  color: #fff;
}

.btn_primary {
  display: inline-block;
  text-transform: capitalize;
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all ease 0.2s;
  white-space: nowrap;
  padding: 10px 45px;
  border: 2px solid transparent;
  border-radius: 25px;
  background: #0f7bff;
  color: #fff;
}
.btn_primary:hover {
  background: #0f7bff;
  color: #fff;
  box-shadow: 0px 0px 15px -2px #0f7bff;
}

.btn_trans {
  display: inline-block;
  text-transform: capitalize;
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all ease 0.2s;
  white-space: nowrap;
  padding: 10px 45px;
  border: 2px solid transparent;
  border-radius: 25px;
  font-weight: 700;
  background: transparent;
  color: #0f7bff;
  border: 2px solid #0f7bff;
}
.btn_trans:hover {
  border: 2px solid #0f7bff;
  background: #0f7bff;
  color: #fff;
  box-shadow: 0px 0px 15px -2px #0f7bff;
}
.btn_trans.active {
  background: #0f7bff;
  color: #fff;
}

.btn_lite {
  display: inline-block;
  text-transform: capitalize;
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all ease 0.2s;
  white-space: nowrap;
  font-weight: 500;
  color: #0f7bff;
}
.btn_lite svg {
  margin-left: 15px;
  transition: all ease 0.2s;
}
.btn_lite:hover svg {
  transform: translateX(5px);
}

.btn_big {
  display: inline-block;
  text-transform: capitalize;
  -webkit-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all ease 0.2s;
  white-space: nowrap;
  padding: 12px 60px;
  font-weight: 700;
  background: #0f7bff;
  color: #fff;
  border-radius: 25px;
}
.btn_big svg {
  padding-bottom: 3px;
  margin-left: 15px;
  transition: all ease 0.2s;
}
.btn_big:hover {
  color: #fff;
}
.btn_big:hover svg {
  transform: translateX(5px);
}

.btn_up {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  position: fixed;
  right: 12px;
  bottom: 12px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  z-index: 13;
  transition: all ease 0.2s;
  opacity: 0;
  visibility: hidden;
}
.btn_up.js_scroll {
  opacity: 1;
  visibility: visible;
}

.under-title {
  text-align: center;
}

.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: -110%;
  width: 100vw;
  height: 100vh;
  background: #0f7bff;
  z-index: 14;
  overflow: hidden;
  transition: all ease 0.4s;
}
.mobile-menu.js_active {
  right: 0;
}
.mobile-menu__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-menu__link {
  position: relative;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.mobile-menu__link:before {
  position: absolute;
  bottom: -5px;
  left: 50%;
  content: "";
  height: 2px;
  width: 130%;
  background: #fff;
  transform: translateX(-50%) scaleX(0);
  transform-origin: left;
  transition: all ease 0.2s;
}
.mobile-menu__link:hover {
  color: #fff;
}
.mobile-menu__link:hover:before {
  transform: translateX(-50%) scaleX(1);
}

.header {
  position: absolute;
  padding: 0 190px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
}
.header.js_scroll {
  position: fixed;
  background: #0f7bff;
}
.header.js_scroll .header__logo {
  padding: 20px 10px;
  font-size: 32px;
}
.header.js_scroll .header__humb span {
  background: #fff;
}
.header.js_scroll .header__menu .header__link {
  color: #fff;
}
.header__logo {
  display: inline-block;
  padding: 34px 25px;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  background: #0f7bff;
  border-radius: 0 0 20px 20px;
  -webkit-user-select: none;
          user-select: none;
  transition: all ease 0.2s;
}
.header__logo:hover {
  color: #fff;
}
.header__menu .header__link {
  margin-left: 40px;
  font-weight: 500;
  text-transform: uppercase;
  color: #929292;
}
.header__menu .header__link.current {
  color: #0f7bff;
}
.header__humb span {
  margin: 5px 0;
  display: block;
  height: 5px;
  width: 40px;
  background: #0f7bff;
  border-radius: 3px;
  transition: all ease 0.2s;
}
.header__humb.js_active span {
  background: #fff;
}
.header__humb.js_active span:nth-of-type(1) {
  width: 20px;
}
.header__humb.js_active span:nth-of-type(2) {
  width: 30px;
}
.header .btn_dark {
  margin-left: 50px;
}

.main {
  padding-top: 140px;
  position: relative;
  height: 100vh;
  background: #f5fcfd;
  background-image: url("../img/bg_main.png");
  background-size: cover;
  background-position: bottom 0 left 5%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.main h1 {
  text-align: center;
}
.main p {
  text-align: center;
  margin: 25px 0;
}
.main img {
  max-width: 710px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.advantages {
  position: relative;
  padding: 160px 0 130px 0;
  background: #f5fcfd;
}
.advantages__item {
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  box-shadow: 0px 0px 15px 0 #f0f0f0;
  border-radius: 5px;
}
.advantages__item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.advantages__item h4 {
  margin: 10px 0 15px 0;
}
.advantages__down {
  height: 114px;
  width: 114px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: -55px;
  background: rgba(0, 99, 221, 0.23);
  border-radius: 50%;
  cursor: pointer;
  transition: all ease 0.2s;
  transform: translateX(-50%);
}
.advantages__down .wrapper {
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0f7bff;
  border-radius: 50%;
}

.scope {
  margin-bottom: 70px;
}
.scope__item {
  position: relative;
}
.scope__item .background {
  margin-top: 70px;
  position: relative;
  width: 425px;
  height: 485px;
  background: #0f7bff;
  border-radius: 30px;
  transform: rotate(-40deg);
  z-index: 3;
}
.scope__item img {
  position: absolute;
  border-radius: 20px;
  box-shadow: 0 0 15px -5px #8e8e8e;
}
.scope .scope_first img {
  top: 25%;
  right: -20%;
  z-index: 5;
}
.scope .scope_second img {
  top: 17%;
  left: -20%;
  z-index: 4;
}
.scope p {
  padding: 30px 0;
}

.about {
  position: relative;
  padding: 130px 0;
  background: #f5fcfd;
}
.about h2 {
  text-align: center;
}
.about .under-title {
  margin: 25px 0;
}
.about__item {
  margin: 20px auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about__item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: #dfedff;
}
.about__item h4 {
  margin: 15px 0 25px 0;
}
.about__line {
  position: absolute;
  left: 50%;
  top: 52%;
  width: 700px;
  height: 1px;
  background: #0f7bff;
  transform: translateX(-50%);
}

.plan {
  padding: 130px 0;
}
.plan__desc {
  margin: 20px 0 30px 0;
}
.plan__btns {
  white-space: nowrap;
}
.plan__btns .btn_primary {
  border: 3px solid #0f7bff;
  border-radius: 25px 0 0 25px;
}
.plan__btns .btn_trans {
  border: 3px solid #0f7bff;
  border-radius: 0 25px 25px 0;
}
.plan__card {
  max-width: 400px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 0px #ebebeb;
  border-radius: 5px;
}
.plan__card .icon {
  position: relative;
  height: 114px;
  width: 114px;
  background: #dfedff;
  border-radius: 50%;
}
.plan__card .icon:before {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  width: 86px;
  height: 86px;
  background: #0f7bff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.plan__card .icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.plan__card h4 {
  font-weight: 700;
  margin: 15px 0 20px 0;
}
.plan__card hr {
  margin: 0;
  width: 90%;
}
.plan__card ul {
  margin-top: 20px;
}
.plan__card ul li {
  margin: 5px 0;
  text-align: center;
}
.plan__card span {
  margin: 15px 0 30px 0;
  font-size: 32px;
  font-weight: 500;
  color: #0f7bff;
}
.plan__card span i {
  font-size: 16px;
}

.people {
  padding: 130px 0;
  background: #f5fcfd;
  background-image: url("../img/bg_people.png");
  background-size: contain;
  background-position: top 0 left 0;
  background-repeat: no-repeat;
}
.people h3 {
  font-weight: 700;
  margin-bottom: 30px;
}
.people__item {
  position: relative;
  padding: 40px 30px;
  background: #fff;
  color: #929292;
}
.people__item i {
  position: absolute;
  top: 40px;
  right: 30px;
  color: #0f7bff;
}
.people__item h4 {
  margin-bottom: 5px;
}
.people__item span {
  font-size: 14px;
}
.people__item p {
  margin-top: 10px;
}

.news {
  padding: 130px 0;
}
.news h2 {
  font-weight: 700;
  text-align: center;
}
.news .under-title {
  margin: 30px 0;
}
.news__f-post img {
  width: 100%;
  border-radius: 5px;
}
.news__f-post h4 {
  margin: 10px 0 15px 0;
  font-size: 24px;
  color: #0f7bff;
}
.news__f-post .btn_lite {
  margin-top: 25px;
}
.news__post {
  margin-bottom: 35px;
  display: flex;
}
.news__post img {
  max-height: 150px;
  border-radius: 5px;
}
.news__post .info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news__post .info h4:hover {
  color: #0f7bff;
}

.trial {
  padding: 130px 0;
  background: #f5fcfd;
}
.trial h3 {
  font-weight: 700;
  margin-bottom: 30px;
}

.footer {
  background: #0f7bff;
}
.footer__top {
  padding: 130px 0;
}
.footer__top .footer__logo {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
.footer__top .footer__form {
  width: 100%;
}
.footer__top .footer__form input {
  width: 100%;
  padding: 15px 30px;
  outline: none;
}
.footer__top .footer__form input[type=email] {
  border-radius: 45px 0 0 45px;
  background: #0063dd;
  border: 2px solid #0063dd;
  color: #fff;
}
.footer__top .footer__form input[type=email]::placeholder {
  text-transform: capitalize;
  color: #fff;
}
.footer__top .footer__form input[type=submit] {
  border: 2px solid #fff;
  border-radius: 0 45px 45px 0;
  font-weight: 700;
  text-transform: uppercase;
  background: #fff;
  color: #0f7bff;
}
.footer__down {
  position: relative;
  padding: 35px 0;
  background: #0063dd;
}
.footer__down .copy {
  text-align: center;
  color: #fff;
}
.footer__down .footer__menu {
  display: flex;
  align-items: center;
}
.footer__down .footer__social {
  display: flex;
  align-items: center;
}
.footer__down .footer__link {
  margin-left: 15px;
  color: #d8d8d8;
  cursor: pointer;
}
.footer__down .footer__link:hover {
  color: #fff;
}

/* Owl carousel */
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 20px;
  display: flex;
}

.owl-theme .owl-dots .owl-dot {
  outline: none;
}

.owl-theme .owl-dots .owl-dot span {
  margin: 5px 4px;
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1.6px solid #0f7bff;
  transition: all ease 0.2s;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  width: 25px;
  background: #0f7bff;
}

/* Media SASS file */
/* Settings for mobile phone */
@media (min-width: 320px) and (max-width: 475px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
  }

  .header {
    padding: 0 15px;
  }
  .header__logo {
    padding: 30px 20px;
    font-size: 32px;
  }

  .main {
    padding-top: 100px;
    background-size: 200%;
    background-position: bottom;
    border-bottom: 1px solid #eeeeee;
  }
  .main img {
    max-width: 300px;
  }

  .advantages {
    padding: 60px 0;
  }

  .about {
    padding: 60px 0;
  }
  .about__line {
    display: none;
  }

  .plan {
    padding: 60px 0;
  }
  .plan__card {
    margin: auto;
  }

  .news {
    padding: 60px 0;
  }
  .news__post {
    margin-top: 30px;
    flex-direction: column;
    align-items: start;
  }
  .news__post .info {
    margin-left: 0;
    margin-top: 20px;
  }

  .trial {
    padding: 60px 0;
  }

  .footer__top {
    padding: 60px 0;
  }
  .footer__top .footer__form input {
    font-size: 12px;
    padding: 10px 10px;
  }
  .footer__down .footer__menu {
    margin: 10px 0;
    flex-direction: column;
  }
  .footer__down .footer__up {
    bottom: 10px;
    right: 10px;
  }

  .scope {
    padding: 60px 0;
  }
  .scope__item .background {
    width: 305px;
    height: 305px;
  }
  .scope__item img {
    max-width: 310px;
  }
  .scope .scope_first {
    margin: 30px 0 100px 0;
  }
  .scope .scope_first img {
    top: 30%;
    right: 0;
  }
  .scope .scope_second {
    margin-top: 30px;
  }
  .scope .scope_second img {
    left: 0;
  }

  .people {
    padding: 60px 0;
    background-image: none;
  }
}
/* Settings for laptop */
@media (min-width: 476px) and (max-width: 767px) {
  .header {
    padding: 0 15px;
  }

  .main {
    background-size: 180%;
    background-position: bottom;
    border-bottom: 1px solid #eeeeee;
  }
  .main img {
    max-width: 450px;
  }

  .advantages {
    padding: 60px 0;
  }

  .about {
    padding: 60px 0;
  }
  .about__line {
    display: none;
  }

  .plan {
    padding: 60px 0;
  }
  .plan__card {
    margin: auto;
  }

  .footer__top {
    padding: 80px 0;
  }

  .scope {
    padding: 60px 0;
  }
  .scope img {
    max-width: 470px;
  }
  .scope .scope_first {
    margin-bottom: 100px;
  }
  .scope .scope_first img {
    top: 35%;
    right: -5%;
  }
  .scope .scope_second {
    margin-bottom: 100px;
  }
  .scope .scope_second img {
    left: 5%;
  }

  .people {
    padding: 60px 0;
    background-image: none;
  }

  .footer__down .footer__up {
    bottom: 10px;
    right: 10px;
  }
}
/* Setting for small screen */
@media (min-width: 768px) and (max-width: 991px) {
  .header {
    padding: 0 70px;
  }

  .main {
    background-size: 145%;
    background-position: bottom 0;
  }
  .main img {
    max-width: 650px;
  }

  .about__line {
    width: 500px;
    top: 50%;
  }

  .plan {
    padding: 60px 0;
  }
  .plan__card {
    margin: auto;
  }

  .scope {
    padding: 60px 0;
  }
  .scope .scope_first {
    margin-bottom: 100px;
  }
  .scope .scope_first img {
    top: 25%;
    right: -8%;
  }
  .scope .scope_second {
    margin-bottom: 100px;
  }
  .scope .scope_second img {
    left: 0;
  }

  .people {
    padding: 60px 0;
    background-position: top 0 left -250px;
  }
}
/* Settings for middle screen */
@media (min-width: 992px) and (max-width: 1199px) {
  .header {
    padding: 0 70px;
  }

  .main {
    background-size: 123%;
    background-position: bottom 0% left 20%;
  }
  .main img {
    max-width: 600px;
  }

  .about__line {
    top: 50%;
  }

  .scope__item .background {
    width: 375px;
    height: 435px;
  }
  .scope .scope_first img {
    max-width: 520px;
    top: 25%;
    right: -20%;
  }
  .scope .scope_second img {
    left: 0;
  }

  .people {
    background-position: top 0 left -270px;
  }
}
/* Settings for large screen */
@media (min-width: 1200px) and (max-width: 1650px) {
  .main {
    padding: 130px;
    background-size: 110%;
    background-position: bottom 0 left 90px;
  }
  .main img {
    max-width: 600px;
  }

  .people {
    background-position: top 0 left -210px;
  }
}
/* Settings for extra large screen */
@media (min-width: 1651px) and (max-width: 1920px) {
  .main {
    background-size: 100%;
    background-position: bottom 0 left 290px;
  }

  .people {
    background-position: top 0 left -70px;
  }
}
@media (min-width: 1921px) and (max-width: 2560px) {
  .main {
    background-size: 120%;
    background-position: bottom 0% left -30%;
  }

  .people {
    background-position: left;
  }
}
/* Settings for small mobile phone (iPhone SE, iPhone 6s, Samsung Galaxy S5 and other) */
@media screen and (max-height: 670px) {
  .header__logo {
    padding: 20px 10px;
    font-size: 22px;
  }
  .header.js_scroll .header__logo {
    font-size: 22px;
  }

  .main {
    padding-top: 80px;
  }
  .main h1 {
    font-size: 22px;
  }
  .main p {
    font-size: 14px;
    margin: 10px 0;
  }
}
@media screen and (max-height: 669px) {
  .main {
    background-image: none;
  }
  .main img {
    display: none;
  }
}
@media (min-height: 1000px) and (max-height: 1500px) {
  .main {
    padding-top: 300px;
  }
}